@font-face {
  font-family: "Boston";
  src: url("./fonts/Boston.ttf") format("truetype");
  font-weight: bold;
  font-style: normal, italic, oblique;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Boston", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(#fcebcc, #edab56);
}
.card {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  top: 0px;
  padding: 120px;
  border-radius: 15px;
  margin: auto;
  /* border: 2px solid black; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  /* top: auto; */
  color: white;
  width: 500px;
  height: 250px;
}
p {
  width: 300px; /* Adjust the width of the box */
  position: relative;
  left: 205px;
  top: -370px;
  scale: 1.45;
}
b {
  position: relative;
  left: 180px;
  top: -80px;
  font-size: 40px;
  color: #edb872;
}
NovaAshwolf {
  position: relative;
  left: 150px;
  top: -390px;
  font-size: 40px;
  color: black;
}
credit {
  position: relative;
  left: -75px;
  top: -315px;
  font-size: 35px;
  color: #edb872;
}
.profile-picture img {
  position: relative;
  max-width: 200px;
  left: -80px;
  top: -75px;
  /* border: 5px solid black; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  border: 10px;
}

/* Navbar Styling */
.navbar {
  width: 1560px;
  height: 100px;
  position: sticky;
  /* top: -5000px; */
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin: 50px;
  border-radius: 25px; /* Rounded edges similar to the one in your image */
}

.inner-rect {
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  padding: 18px 120px;
  flex-wrap: wrap; /* Allows the items to wrap if the container width is too small */
  /* text-align: center; */
  color: white;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
  margin: 35px;
}
.nav-links {
  list-style: none;
  display: flex;
  /* gap: 35px; */
  position: relative;
  left: -20px;
  top: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #ffcc00; /* Highlight color on hover */
}
#NovaDiv {
  max-width: 200px;
  max-height: 200px;
  position: fixed;
  left: 650px;
  top: 300px;
  border: 5px solid black;
  border-radius: 20px;
}
