                /*TODO: Add Some More and Add Random Selected Backgrounds...*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Library3amsoft', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* I'm gonna add more and random backgrounds soon :333333*/
    background: url('/images/Backgrounds/Background1.png') center/cover no-repeat;
}
.gallery-container {
    display: flex;
    justify-content: center;
   /* Center the gallery container horizontally */
    align-items: center;
   /* Center the gallery container vertically */
    max-width: 100%;
   /* Ensure the container doesn't exceed the screen width */
}
.gallery {
    max-width: 80%;
    max-height: 80%;
    position: relative;
    text-align: center;
   /* Center the image within the gallery */
}
.gallery img {
    width: 100%;
    height: auto;
    border: 15px solid black;
    border-radius: 40px;
    position: relative;
}
.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid black;
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 15px;
    margin: 0 80px;
   /* Add margin to separate the buttons from the image */
}
.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
}
