/* main_style.css */
/* VV IDK why i need this many font's here but anyways VV */
@font-face {
    font-family: 'Soft';
    src: url('./fonts/Soft.otf') format('opentype');
    font-weight: normal;
    font-style: normal, italic, oblique;
}
@font-face {
    font-family: "Boston";
    src: url("./fonts/Boston.ttf") format('truetype');
    font-weight: bold;
    font-style: normal, italic, oblique;
}
/* ^^ IDK why i need this many font's here but anyways ^^ */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Boston', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/Backgrounds/Background1.png') center/cover no-repeat;
}

/* Card Styles */
.card {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    width: 350px;
}

/* Profile Picture Styles */
.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Text Styles */
h1 {
    margin: 10px 0;
    font-size: 46px;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

/* Social Links Styles */
.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    display: inline-block;
}

.social-links img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    radiu
}
